.classroom{
  height:100%;
  //create the shadow which covers content when sideBar Open in mobile
  @media screen and (max-width: 767px) {
    .shadow-active{
      position:absolute;
      width:100%;
      height:100%;
      background-color:rgba(0,0,0,0.8);
      transition: background-color 0.4s;
      z-index:99;

    }
  }
  .sendMsg{
    position:absolute;
    bottom:0;
    width:100%;
    padding:20px;
    background-color: white;
    form{

    }
  }

  .classId{
    color:dodgerblue;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: bolder;
  }

  .window{
    background-color: white;
    overflow: auto;
    height: 83%;
    .message-list{
      list-style:none;
      .sender{
        color: darkgray;
        font-weight: 200;
      }

      .message{
        display: inline-block;
        background-color: dodgerblue;
        color: white;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 2px;
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .bulletPoint{
    list-style-type: none;
  }

}