@import 'variables.scss';
.classroom{
  height:100%;
  .sendMsg{
    position:relative;
    width:100%;
    padding:20px;
    background-color: white;
    height: 15%;
  }

  .classId{
    background-color: $secondary_color;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: bolder;
  }

  .window{
    position: relative;
    background-color: white;
    overflow-y: auto;
    height: 80%;
    .message-list{
      list-style:none;
      .sender{
        color: darkgray;
        font-weight: 200;
      }
      .message{
        display: inline-block;
        background-color: dodgerblue;
        color: white;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 2px;
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .bulletPoint{
    list-style-type: none;
  }
}

@media only screen and (max-width: 420px) and (max-height: 735px){
  .classroom >.window{
    bottom: 6%;
  }
  .classroom >.sendMsg{
    bottom: 6%;
    border-top: solid $secondary_color 1px;
  }
}