@import 'variables.scss';

.tooltip.bottom .tooltip-inner {
  background-color:darkgray;
  z-index: 99999;
}
.tooltip.bottom .tooltip-arrow {
  border-top-color: darkgray;
  border-color: darkgray transparent;
}

.classroom{
  height:100%;
  .sendMsg{
    border-top: 1px solid $border_color;
    width:100%;
    height: 50px;
    .input-group {
      background-color: white;
      padding-right: 10px;
      input {
        border: none;
        height: 49px;
        font-size: 1.1em;
        padding-left: 20px;
      }
      input:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      button {
        border: none;
      }
      button:hover {
        background-color: white;
      }
      .fa {
        color: $lead_blue;
      }
    }
  }

  .classId{
    background-color: $secondary_color;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: bolder;
  }

  .window{
    background-color: $bg_light;
    height: calc(100vh - 120px);
    position: relative;
    overflow: scroll;
    .message-list{
      list-style:none;
      padding-left: 30px;
      padding-right: 30px;
      .message {
        float: left;
        clear: both;
        align-items: flex-start;
        display: flex;
        margin-bottom: 5px;
        .sendInfo {
          width: 80px;
        }
        .messageBubble {
          font-size:1.1em;
          position: relative;
          color: black;
          text-align: center;
          padding: 0px;
          background: white;
          border-radius: 8px;
          padding: 6px;
          max-width: 700px;
          margin-bottom: 6px;
        }

        .messageBubble:after
        {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 5px 8px 5px 0;
          border-color: transparent white;
          display: block;
          width: 0;
          z-index: 1;
          left: -8px;
          top: 12px;
        }

        .fa {
          color: darkgray;
        }
      }
      .message2 {
        float: right;
        clear: both;
        align-items: flex-start;
        display: flex;
        margin-bottom: 5px;
        .sender {
          float: right;
          clear: both;
        }
        .sendInfo {
          width: 80px;
        }
        .messageBubble {
          font-size:1.1em;
          position: relative;
          color: white;
          text-align: center;
          padding: 0px;
          background: $lead_blue;
          border-radius: 8px;
          padding: 6px;
          max-width: 700px;
          margin-bottom: 6px;
        }
        .messageBubble:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 5px 0 5px 8px;
          border-color: transparent $lead_blue;
          display: block;
          width: 0;
          z-index: 1;
          right: -8px;
          top: 12px;
        }
        .fa {
          color: darkgray;
          float: right;
          clear: both;
        }
      }
      .sender{
        color: darkgray;
        font-weight: 200;
        font-size: 12px;
      }
    }
  }
  .bulletPoint{
    list-style-type: none;
  }
}

@media only screen and (max-width: 420px) and (max-height: 735px){
  .classroom >.window{
    bottom: 6%;
  }
  .classroom >.sendMsg{
    bottom: 6%;
    border-top: solid $secondary_color 1px;
  }
}