//outside app
@import 'landing.scss';
@import 'login.scss';
@import 'pass-change';
@import 'register.scss';
//inside app
@import 'variables.scss';
@import 'sideBar';
@import 'classroom.scss';
@import 'landing.scss';
@font-face {
  font-family: "Nova";
  src: url(../fonts/ProximaNova-Regular.otf);
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}
html{
  height:100%;
  width:100%;
  overflow: hidden;
}
body{
  overflow: auto;
  font-family: Helvetica;
  margin:0;
  -webkit-overflow-scrolling: touch;
  padding:0;
  height:100%;
  width:100%;
  .outer-container{
    display: flex;
    margin:0;
    height:100%;
    width:100%;
  }
  .content-container{
    height:100%;
    overflow:hidden;
    padding-left:0px;
    padding-right:0px;
    transition:transform ease-in 0.5s;
    .navbar-toggle{
      border:0;
    }
    .navbar{
      background-color:#F9F7F7;
      border:0;
      border-radius:0;
      margin-bottom:0px;
    }
    .content{
      height:100%;
    }
  }
}

#leftMenu {
  width: 25%;
  height: 100vh;
  border-right: 1px solid $border_color;
  background-color: $bg_dark;

  #left_top {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid $border_color;
    #search {
      height: 100%;
      text-align: center;
      input {
        @include vertical-align();
        width: 90%;
        height: 34px;
        border-radius: 17px;
        border: none;
        background: url(../images/search.png) no-repeat 10px center;
        background-color: $bg_dark_selection;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
        padding-top: 5px;
        padding-bottom:5px;
        padding-left: 40px;
        color: white;
      }
      input:focus {
        outline: none;
        border: 1px solid $lead_blue;
      }
    }
  }

  #menu {
    overflow: scroll;
    height: calc(100vh - 70px);
  }

  a:visited {
    color: white;
    background-color: $selection_color;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: white;
    text-decoration: none;
  }

  #classList{
    z-index: 100;
    .activeClass{
      border-left:5px solid $lead_blue !important;
      padding-left:calc(5% - 5px) !important;
      background-color: $bg_dark_selection;
    }
    .menu_class {
      transition: border-color 0.5s ease-in;
      border-color:transparent;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5%;
    }
    .menu_class:hover {
      cursor: pointer;
      border-left:5px solid $lead_blue !important;
      padding-left:calc(5% - 5px) !important;
      background-color: $bg_dark_selection;
    }
    .menu_class_title {
      font-size: 1.4em;
      font-weight: 600;
      color: white;
    }
    .menu_class_subtitle {
      color: $text_secondary;
      font-size: .9em;
    }
    div {
      color: $text_secondary;
      font-size: .9em;
    }
    p {
      margin: 0;
    }
  }
}

#rightContent {
  width: 75%;
  height: 100%;
  background-color: $bg_light;

  #right_top {
    padding-left: 15px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid $border_color;
    text-align: center;
    p {
      @include vertical-align();
      font-size: 22px;
      float: left;
    }
    .responsive_right_top_toggle{
      display:none;
      padding:10px;
    }
    #top_right_rhs {
      float: right;
      height: 100%;
      div {
        width: 70px;
        display: inline-block;
        border-left: 1px solid $border_color;
        height: 100%;
        color: $border_color;
        .fa {
          @include vertical-align();
        }
        @include pointerTransition();
      }
      div:hover {
        background-color: $selection_color;
      }
    }
  }
}