//outside app
@import 'landing.scss';
@import 'login.scss';
@import 'pass-change';
@import 'register.scss';
//inside app
@import 'variables.scss';
@import 'sideBar';
@import 'classroom.scss';
@import 'landing.scss';

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}
html{
  height:100%;
  width:100%;
}
body{
  font-family: 'Lato', sans-serif !important;
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  .outer-container{
    display: flex;
    margin:0;
    height:100%;
    width:100%;
    @media screen and (max-width: 767px) {
      .shadow-active{
        position:absolute;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.8);
        transition: background-color 0.4s;
        z-index:99;

      }
    }
  }
  .content-container{
    height:100%;
    overflow:hidden;
    padding-left:0px;
    padding-right:0px;
    transition:transform ease-in 0.5s;
    .navbar-toggle{
      border:0;
    }
    .navbar{
      background-color:#F9F7F7;
      border:0;
      border-radius:0;
      margin-bottom:0px;
    }
    .content{
      height:100%;
    }
  }
}

#leftMenu {
  width: 25%;
  height: 100vh;
  border-right: 1px solid $border_color;

  #left_top {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $border_color;
    text-align: center;
    p {
      @include vertical-align();
      font-size: 20px;
    }
  }

  #search {
    height: 50px;
    text-align: center;
    border-bottom: 1px solid $border_color;
    input {
      width: 100%;
      height: 100%;
      border: none;
      background: url(../images/search.png) no-repeat 5px center;
      -webkit-background-size: 20px 20px;
      background-size: 20px 20px;
      padding-top: 5px;
      padding-bottom:5px;
      padding-left: 35px;
    }
    input:focus {
      outline: none;
      border-color: $primary_purple;
    }
  }

  #menu {
    overflow: scroll;
    height: calc(100vh - 50px);
  }

  a:visited {
    color: black;
    background-color: $selection_color;
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }

  #classList{
    z-index: 100;
    .activeClass{
      border-left:6px solid $primary_purple;
      padding-left:calc(5% - 6px) !important;
    }
    .menu_class {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5%;
    }
    .menu_class:hover {
      cursor: pointer;
      background-color: $selection_color;
    }
    p {
      margin: 0;
    }
  }

  .menu_class_title {
    font-size: 1.3em;
    font-weight: 500;
  }
  .menu_class_subtitle {
  }
  div {
    color: black;
  }
}

#rightContent {
  width: 75%;
  height: 100%;

  #right_top {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $border_color;
    text-align: center;
    p {
      @include vertical-align();
      font-size: 20px;
    }
    #right_top_userMenu {
      float: right;
      clear: none;
      color: $border_color;
      @include vertical-align();
      margin-right: 10px;
      z-index: 20;
      @include pointerTransition();
    }
    #right_top_settings {
      float: left;
      color: $border_color;
      @include vertical-align();
      margin-left:10px;
      z-index: 20;
      @include pointerTransition();
    }
  }
}