@import 'variables.scss';
.activeClass{

}
.sideBar {
  z-index: 99;
  transition: transform ease-in 0.5s;
}
//for phones
@media screen and (max-width: 767px) {
  .shadow-active{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.8);
    transition: background-color 0.4s;
    z-index:99;

  }
  .sideBar{
    width:70% !important;
    transform: translateX(-100%);
  }
  .sideBarOpen{
    transform: translateX(0px);
  }
  .content-container-moveX{
    transform: translateX(0%) !important;
  }
  .rightContent{
    transition: transform 0.5s ease-in;
    transform:translateX(-70%);
    position:absolute;
    width:100% !important;
  }
  .responsive_right_top{
    display:flex;
    justify-content: space-between;
    #className{
      display:flex;
      align-items: center;
    }
    .responsive_class_name{
      display:none;
    }
    .responsive_top_right_rhs{
      display:flex;
      .responsive_right_top_settings{
        display:none !important;
        font-size:20px;
      }
    }
    .responsive_right_top_toggle{
      display: flex !important;
      align-items:center;
    }
  }
}

