$primary_color :    #112D4E;
$secondary_color:   #DBE2EF;

$bubble_color_one:  #415F9D;
$bubble_color_two:  #233B6E;

$primary_purple:    #0084FF;

$purple_bg: rgb(105,0,220);

$border_color: #706d6d;

$selection_color: #F3F3F3;

$bg_dark: #353e49;
$bg_dark_selection: #3d4856;

$bg_light: #EAEDF1;

$lead_blue: #0084FF;

$text_secondary: #DEDFDF;

@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin pointerTransition() {
  -webkit-transition:  0.2s;
  -moz-transition:  .2s;
  -ms-transition:  .2s;
  -o-transition:  .2s;
  transition:  .2s;
  &:hover{
    cursor: pointer;
    color: $primary_purple;
  }
}