<head>
    <link rel="stylesheet" type="text/css" href="../css/classroom.css">
</head>
<div class="classroom">
    <div id="shadow"></div>
    <!--
    <div class="classId">
        <span>{{vm.classId}} {{vm.className}} - {{vm.professor}} in {{vm.classroom}}</span>
    </div>
    -->
    <div class="window">
        <div id="chatroom">
            <ul class="message-list">
                <li ng-repeat="message in vm.messages">
                        <div class="sender"> {{message.name}} : {{message.time | date:'MM/dd/yyyy'}} </div>
                        <div class="message">{{message.message}}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="sendMsg">
        <form ng-submit="vm.sendMsg()">
            <div class="input-group">
                <input ng-model="vm.m" type="text" class="form-control" placeholder="Message Text" >
                <span class="input-group-btn">
                    <button class="btn btn-default">Send</button>
                </span>
            </div>
        </form>
    </div>
</div>