<head>
    <link rel="stylesheet" type="text/css" href="../css/classroom.css">
</head>
<div class="classroom">
    <div id="shadow"></div>
    <div class="classId">
        <span>{{vm.classId}}</span>
    </div>
    <div class="window">
        <ul id="messages">
            <div class="bulletPoint">
                <li ng-repeat="message in vm.messages">
                    <div class="sender"> {{message.user}} </div>
                    <div class="message">{{message.message}}</div>
                </li>
            </div>
        </ul>
    </div>
    <div class="sendMsg">
        <form ng-submit="vm.sendMsg()">
            <div class="input-group">
                <input ng-model="vm.m" type="text" class="form-control" placeholder="Message Text" >
                <span class="input-group-btn">
                    <button class="btn btn-default">Send</button>
                </span>
            </div>
        </form>
    </div>
</div>