<div>
    <div>
        <input class="formInput" placeholder="Class Code">
        <input class="formInput" placeholder="Class Name">
        <input class="formInput" placeholder="Hours">
        <input class="formInput" placeholder="Location">
        <input class="formInput" placeholder="TAs">
        <br/><br/>
        <span>CSV of Students</span>
        <input id="studentList" type="file" accept="text/csv" name="studentList" style="margin: 0 auto; width: 200px;">
        <button type="submit" ng-click="submitCreateClass()" class="largeButton">Submit</button><br/>
        <button type="button" ng-click="vm.cancel()" class="largeButton grey">Cancel</button><br/>
    </div>
</div>

