<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Soen 341 Chat App</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="../bower_components/notifyjs/dist/styles/metro/notify-metro.css">

    <link rel="stylesheet" href="../css/mainStyle.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/notifyjs/dist/notify.js"></script>
    <script src="../bower_components/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <!-- for IE support -->
    <script src="../bower_components/es6-promise/es6-promise.auto.min.js"></script>
    <script src="../bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../bower_components/sweetalert2/dist/sweetalert2.min.css">
</head>
<body ng-app="app" ng-controller="appCtrl as vm">
<div class="outer-container">

    <div id="leftMenu" class="sideBar">

        <div id="left_top">
            <div id="search">
                <h4>Famingo</h4>
                <h5 id="numOfUserText">Number of users <span>online</span>: {{vm.numberOnlineUsers}}</h5>
            </div>
        </div>

        <div id="menu">
            <div id="menu_items">
                <div id="classList" class="classList">

                    <a class="classRoom" ng-repeat="class in vm.currentUser.classUser" ng-href="#/class/{{class._id}}">
                        <div class="menu_class" ng-class="{'activeClass' : vm.currentClassId == '{{class._id}}' }">
                            <p class="menu_class_title">{{class._id}}</p>
                            <p class="menu_class_subtitle">{{class.name}}</p>
                            <div>Status: <span class="menu_class_status">Active</span></div>
                        </div>
                    </a>

                    <a class="classRoom2" ng-repeat="class in vm.currentUser.classMod" ng-href="#/class/{{class._id}}">
                        <div class="menu_class" ng-class="{'activeClass' : vm.currentClassId == '{{class._id}}' }">
                            <p class="menu_class_title">{{class._id}}</p>
                            <p class="menu_class_subtitle">{{class.name}}</p>
                            <div>Status: <span class="menu_class_status">Active</span></div>
                        </div>
                    </a>

                    <a id="createClass" href="#/createclass" ng-if="$root.currentUser.role == 2">
                        <div class="menu_class" ng-class="{'activeClass' : $root.createClass == true }">
                            <p class="menu_class_title">Create Class</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="rightContent" class="rightContent">

        <div id="right_top" class="responsive_right_top">
            <div class="responsive_right_top_toggle" id="sideBar-toggle">
                <i class="fa fa-bars" style="font-size:2em" aria-hidden="true"></i>
            </div>
            <p id="className"></p>

            <div id="top_right_rhs" class="responsive_top_right_rhs">

                <div class="dropdown">
                    <div class="default dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown">
                        <span class="fa fa-user-circle fa-2x" title="Toggle dropdown menu"></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>








            </div>
        </div>
        <div id="shadow"></div>
        <div class="content" ng-view></div>

    </div>
</div>
<script>
    //for the menu collapse feature in mobile
    $('#sideBar-toggle').click(function () {
        $('#leftMenu').toggleClass('sideBarOpen');
        $('#rightContent').toggleClass('content-container-moveX');
        $('#shadow').toggleClass('shadow-active');
    })
</script>
<!--ANGULAR-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!--MODULES-->
<script src="../app.js"></script>
<script src="../javascript/modules/header.module.js"></script>
<script src="../javascript/modules/classroom.module.js"></script>
<script src="../javascript/modules/homepage.module.js"></script>
<script src="../javascript/modules/createclass.module.js"></script>
<!--CONTROLLERS-->
<script src="../javascript/header.controller.js"></script>
<script src="../javascript/classroom.controller.js"></script>
<script src="../javascript/homepage.controller.js"></script>
<script src="../javascript/createclass.controller.js"></script>

</body>
</html>
