.classroom {
  height: 100%; }
  .classroom .sendMsg {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: white;
    height: 15%; }
  .classroom .classId {
    color: dodgerblue;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: bolder; }
  .classroom .window {
    position: relative;
    background-color: white;
    overflow-y: auto;
    height: 80%; }
    .classroom .window .message-list {
      list-style: none; }
      .classroom .window .message-list .sender {
        color: darkgray;
        font-weight: 200; }
      .classroom .window .message-list .message {
        display: inline-block;
        background-color: dodgerblue;
        color: white;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 2px;
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1); }
  .classroom .bulletPoint {
    list-style-type: none; }

@media only screen and (max-width: 420px) and (max-height: 735px) {
  .classroom > .window {
    bottom: 6%; }

  .classroom > .sendMsg {
    bottom: 6%; } }
