.sideBar {
  height: 100%;
  padding: 0px;
  z-index: 99;
  background-color: #112D4E;
  transition: transform ease-in 0.5s; }

.search-bar {
  padding: 15px; }
  .search-bar .input-group {
    width: 100%; }

.class-section {
  color: white; }
  .class-section div h3 {
    margin-top: 0px;
    padding-left: 5px; }
  .class-section div .list-container p {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3px;
    padding-left: 20px;
    transition: all 0.5s ease;
    width: 85%; }
    .class-section div .list-container p a {
      display: block;
      color: white;
      cursor: pointer;
      text-decoration: none; }
  .class-section div .list-container p:hover {
    background-color: #246EB9; }

.sideBar-toggle {
  margin-left: 9px;
  float: left; }

@media screen and (max-width: 767px) {
  .sideBar {
    width: 300px;
    position: absolute;
    transform: translateX(-300px); }

  .sideBarOpen {
    opacity: 0.9;
    transform: translateX(0px); }

  .content-container-moveX {
    transform: translateX(300px); } }
